/*
 * Make sure that the padding and border are included in the total width and
 * height of the elements.
 */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
  max-width: 100%;
}

.row {
  display: flex;
  flex-direction: column; /* Mobile-first design */
}

.row-m {
  display: flex;
  flex-direction: column; /* Mobile-first design */
}

[class*="c-"] {
  width: 100%; /* Mobile-first design */
  border-radius: .3rem;
  background-color: red;
  text-align: center;
  margin: 0.1rem;
  padding: 0.3rem;
}

[class*="c-m-"] {
  background-color: green;
}

/* SMALL */
/* c-3 is 3 of 12 columns wide (25%) on device width (>= 576 pixels) */
@media screen and (min-width: 576px) {
  .row {
    flex-direction: row;
  }
  .c-1 {width: 8.33%;} /* 1/12 of viewport width */
  .c-2 {width: 16.66%;}
  .c-3 {width: 25%;} /* quarter viewport width */
  .c-4 {width: 33.33%;}
  .c-5 {width: 41.66%;}
  .c-6 {width: 50%;} /* half viewport width */
  .c-7 {width: 58.33%;}
  .c-8 {width: 66.66%;}
  .c-9 {width: 75%;}
  .c-10 {width: 83.33%;}
  .c-11 {width: 91.66%;}
  .c-12 {width: 100%;} /* entire viewport width */
}

/* MEDIUM */
/* c-m-3 is 3 of 12 columns wide (25%) on device width (>= 768 pixels) */
@media screen and (min-width: 768px) {
  .row-m {
    flex-direction: row;
  }
  .c-m-1 {width: 8.33%;} /* 1/12 of viewport width */
  .c-m-2 {width: 16.66%;}
  .c-m-3 {width: 25%;} /* quarter viewport width */
  .c-m-4 {width: 33.33%;}
  .c-m-5 {width: 41.66%;}
  .c-m-6 {width: 50%;} /* half viewport width */
  .c-m-7 {width: 58.33%;}
  .c-m-8 {width: 66.66%;}
  .c-m-9 {width: 75%;}
  .c-m-10 {width: 83.33%;}
  .c-m-11 {width: 91.66%;}
  .c-m-12 {width: 100%;} /* entire viewport width */
}